#textdomain aww
### 6. Relative Healing on Level-Up
# Author: Ruvaak
# Original Creation
# tests: unit hitpoints=1, unit max_hitpoints=500, unit advances=1
# 1 event  + see event aww_00_trigger_pre_advance_common

#textdomain aww

[event]
    name=post_advance
    id=aww_06_trigger_post_advance_healing_reduced
    first_time_only=no
    [filter_condition]
        {AWW_ENABLED_FEATURE_06}
        {VARIABLE_CONDITIONAL aww_pre_hp less_than $aww_pre_max_hp}
        {VARIABLE_CONDITIONAL aww_pre_hp less_than $unit.max_hitpoints}
        {VARIABLE_CONDITIONAL aww_pre_max_hp greater_than 1}
        {VARIABLE_CONDITIONAL unit.max_hitpoints greater_than 1}
    [/filter_condition]

        #{AWW_TERRAIN_LABEL_CURRENT_SIDE_UNIT $aww_pre_hp {COLOR_HEAL}}

        #{VARIABLE missing_hp $aww_pre_max_hp}
        #{VARIABLE_OP missing_hp sub $aww_pre_hp}
        {AWW_VARIABLE_VALUE_OP missing_hp $aww_pre_max_hp sub $aww_pre_hp}

        # init : we start by fueling hp (in case an external mod interfere)
        {VARIABLE unit.hitpoints $unit.max_hitpoints}

        # applying custom HP if we get correct unit values having missing HP, pre/post MAX-HP > 1 :

        [if]
            {VARIABLE_CONDITIONAL aww_pre_max_hp less_than $unit.max_hitpoints}
        [then]
            # when new level having MORE max HP than previous level, we substract missing hp:
            {VARIABLE_OP unit.hitpoints sub $missing_hp}
            #{AWW_TERRAIN_LABEL $x1 $y1 $unit.hitpoints {COLOR_WHITE}}
        [/then]
        [else]
            # when new level having LESS max HP than previous level, AND was missing some HP, we keep previous HP amount:
            {VARIABLE unit.hitpoints $aww_pre_hp}
        [/else]
        [/if]

        # for safety, 1 <= post-HP <= post-HP-MAX
        [if]
            {VARIABLE_CONDITIONAL unit.hitpoints less_than 1}
        [then]
            {VARIABLE unit.hitpoints 1}
        [/then]
        [/if]

        # To maintain bad status on level-up :
        # Disabled on 1.14.9.3, it makes the game less strategic, game way harder, status effect too long :
        #{VARIABLE unit.status.poisoned $unit_pre.status.poisoned}
        #{VARIABLE unit.status.petrified $unit_pre.status.petrified}
        #{VARIABLE unit.status.dehydrated $unit_pre.status.dehydrated} #in UtBS Era

        [if]
            {VARIABLE_CONDITIONAL unit.hitpoints greater_than_equal_to $aww_pre_hp}
            {VARIABLE_CONDITIONAL unit.hitpoints less_than $unit.max_hitpoints}
        [then]

            [unstore_unit]
                variable=unit
            [/unstore_unit]

            #   {AWW_TERRAIN_LABEL $x1 $y1 $unit.hitpoints {COLOR_HEAL}}
        [/then]
        [/if]

    {CLEAR_VARIABLE missing_hp}
[/event]
