#textdomain aww
### 14. LEVEL-UP : FLOATING NOTIFICATION ON UNIT
# Author: Ruvaak
# Original Creation
# Display float text, when an unit gain a new level

## DEPRECATED INCLUDED IN 00_init.cfg now


[event]
    name=pre advance
    id=aww_14_trigger_levelup_notif
    first_time_only=no
	[filter_condition]
		{AWW_ENABLED_FEATURE_14}
    [/filter_condition]

    [if]
        {AWW_ISSET_VARIABLE unit.advances_to}
        [then]
            ## pre-AMLA Level-Up:
            {AWW_FLOAT_TEXT_CURRENT_SIDE_UNIT _"Advancement"+"!" {AWW_COLOR_XP}}
        [/then]
        [elseif]
            [not]
                {AWW_ENABLED_FEATURE_09}
            [/not]
        [then]
            ## post-AMLA Level-Up :
            {AWW_FLOAT_TEXT_CURRENT_SIDE_UNIT _"LEVEL UP"+"!" {AWW_COLOR_AMLA}}
        [/then]
        [/elseif]
    [/if]
[/event]
