#textdomain aww
### EXTRA ABILITIES + WEAPON SPECIALS MACROS
# Author Corvo
# Original Creation
# Used in _main.cfg, scenarios/4p_Ruvaak_Mirage_Atoll.cfg
# abilities with same id will not be duplicated on a unit.
# weapon specials : they can duplicate, we need to delete it before. use mode append else it clear all others. inside it's a mix of filters/setters...


######## UNIT ABILITIES ########


##### CUSTOM REGEN :

# to be included in an [abilities]
## used in: setters.ma.cfg, 10_gifted_leader_hero.cfg,
# POISON should be : cured | slowed. example : {AWW_ABILITY_CUSTOM_REGEN 4 slowed}
# trick trads : _"cured" _"slowed"
# id contain hp+cure value to allow cumulating different ones. But max heal is 8 defined in wesnoth.
#define AWW_ABILITY_CUSTOM_REGEN HP CURE
    [regenerate]
        id=aww_ability_custom_regen{HP}{CURE}
        name= _ "regenerates"+"+{HP}" +"/"+ _"poison"+" "+_"{CURE}"
        female_name= _ "female^regenerates"
        affect_self=yes
        value={HP}
        poison={CURE}
        cumulative=yes
        description= _"The unit will heal itself "+{HP}+_" HP per turn. Poison will be "+_"{CURE}"+_" instead of healing."+ " "+_"Possible poison treatments : "+ _"slowed" + " / " _"cured"
    [/regenerate]
#enddef


#define AWW_ABILITY_EFFECT_CUSTOM_REGEN HP CURE
    [effect]
        # TODO see if cumulate with troll regenerate+8 (test troll leader):
        apply_to=new_ability
        [abilities]
            {AWW_ABILITY_CUSTOM_REGEN {HP} {CURE}}
        [/abilities]
    [/effect]
#enddef


##### CAMOUFLAGE :

# to be included in an [abilities]
## used in: abilities.ma.cfg:AWW_ABILITY_EFFECT_CAMOUFLAGE, traits.ma.cfg:AWW_TRAIT_STEALTHY, 13_fix_ambushed.cfg
# A mix of ABILITY_CONCEALMENT ABILITY_AMBUSH ABILITY_SUBMERGE ABILITY_NIGHTSTALK
#define AWW_ABILITY_CAMOUFLAGE
    [hides]
        id=aww_ability_camouflage
        #id=ambush
        name= _"camouflaged"
        female_name= _"female^camouflaged"
        name_inactive=_"camouflage"
        female_name_inactive=_"female^camouflage"
        description= _"This unit remains undetected by its enemies in villages, forests, deep water, or everywhere at night, except by those standing next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        cumulative=yes
        [filter]
                #ambush, forests:
                [filter_location]
                    terrain=*^F*
                [/filter_location]
            [or]
                # concealment, villages:
                [filter_location]
                    terrain=*^V*
                [/filter_location]
            [/or]
            [or]
                # submerge, deep water:
                [filter_location]
                    terrain=Wo*^*
                [/filter_location]
            [/or]
            [or]
                #nightstalk, night:
                [filter_location]
                    time_of_day=chaotic
                [/filter_location]
            [/or]
        [/filter]
    [/hides]
#enddef


# to be included in a modify_unit or trait etc
# used in traits.ma.cfg:AWW_TRAIT_STEALTHY, scenarios/4p_Ruvaak_Mirage_Atoll.cfg
#define AWW_ABILITY_EFFECT_CAMOUFLAGE
    ### first remove abilities included in camouflage:
    [effect]
        apply_to=remove_ability
        [abilities]
            {ABILITY_AMBUSH}
        [/abilities]
    [/effect]
    [effect]
        apply_to=remove_ability
        [abilities]
            {ABILITY_CONCEALMENT}
        [/abilities]
    [/effect]
    [effect]
        apply_to=remove_ability
        [abilities]
            {ABILITY_SUBMERGE}
        [/abilities]
    [/effect]
    [effect]
        apply_to=remove_ability
        [abilities]
            {ABILITY_NIGHTSTALK}
        [/abilities]
    [/effect]

    ### add / replace abilities :
    [effect]
        apply_to=new_ability
        [abilities]
            {AWW_ABILITY_CAMOUFLAGE}
        [/abilities]
    [/effect]
#enddef


######## WEAPON SPECIALS ########


##### SWARM/SQUAD :


# Used in macros/abilities.ma.cfg:AWW_ATTACK_EFFECT_SQUAD_SWARM
# Canned definition of the Swarm ability to be included in a [specials] clause.
# It change the min to 1 and  rename the label.
#define AWW_WEAPON_SPECIAL_SQUAD_SWARM
    [swarm]
        id=swarm
        name=_"swarm squad"
        description= _"Squad Mode" +" : "+ _"Swarm" +" - "+ _"The number of strikes of this attack decreases when the unit is wounded. The number of strikes is proportional to the percentage of its of maximum HP the unit has. For example a unit with 45/60 HP will do only 3 strike of an attack having initially 4 strikes." +"
- "+ _"Minimum strikes will be 1."+"
- "+ _"For attack having only 1 base strike, HP ratio will be used to reduce damage."+"
- "+ _"Excluded for berserk & fury attack. To simulate that the lesser they are, the more furious they go."
        swarm_attacks_min=1
    [/swarm]
#enddef


# Used in macros/setters.ma.cfg:AWW_SET_SQUAD_SWARM & mods/02_squad_swarm.cfg (to refresh)
#define AWW_ATTACK_EFFECT_SQUAD_SWARM
    # TODO TEST object
    [object]
        id=aww_squad_swarm_object
        silent=yes
        duration=forever
        [effect]
            apply_to=attack
            remove_specials=swarm
            [set_specials]
                mode=append
                {AWW_WEAPON_SPECIAL_SQUAD_SWARM}
            [/set_specials]
        [/effect]
        # remove swarm on berserk attacks:
        [effect]
            apply_to=attack
            special=berserk
            remove_specials=swarm
        [/effect]
        [effect]
            apply_to=attack
            special=aww_special_fury
            remove_specials=swarm
        [/effect]
        # remove for single attack, so we can apply the damage reducer :
        [effect]
            apply_to=attack
            number=1
            remove_specials=swarm
        [/effect]
    [/object]
#enddef

## From Under_the_Burning_Suns/utils/abilities.cfg :
#define AWW_ABILITY_DISTRACT
    [skirmisher]
        id=distract
        name=_"distract"
        female_name=_"female^distract"
        description=_"This unit negates enemy Zones of Control around itself for allied units (but not for itself)."
        affect_self=no
        affect_allies=yes
        cumulative=yes
        [affect_adjacent]
        [/affect_adjacent]
    [/skirmisher]
#enddef

#define AWW_ABILITY_EFFECT_DISTRACT
    [effect]
        apply_to=new_ability
        [abilities]
            {AWW_ABILITY_DISTRACT}
        [/abilities]
    [/effect]
#enddef


##### DRAINS / BLOODTHIRSTY :


# to use in [effect]
#define AWW_WEAPON_SPECIAL_BLOODTHIRSTY
    [drains]
        id=aww_special_bloodthirsty
        name= _"bloodthirsty"
        female_name= _"female^bloodthirsty"
        active_on=offense
        description= _"(Only available offensively)" +" "+ _"This unit drains health from living units, healing itself for half the amount of damage it deals (rounded down)."
        cumulative=yes
    [/drains]
#enddef

## used in mods/12_tweak_berserk.cfg
#define AWW_ATTACK_EFFECT_BLOODTHIRSTY_FOR_FURY
    [effect]
        apply_to=attack
        special=aww_special_fury
        remove_specials=aww_special_bloodthirsty
        [set_specials]
            mode=append
            {AWW_WEAPON_SPECIAL_BLOODTHIRSTY}
        [/set_specials]
    [/effect]
#enddef

## used in scenarios/4p_Ruvaak_Mirage_Atoll.cfg, mods/09_levelup_amla_bonus.cfg
#define AWW_ATTACK_EFFECT_BLOODTHIRSTY
    [effect]
        apply_to=attack
        remove_specials=aww_special_bloodthirsty
        [set_specials]
            mode=append
            {AWW_WEAPON_SPECIAL_BLOODTHIRSTY}
        [/set_specials]
    [/effect]
#enddef

##### BERSERK :


# used in abilities.ma.cfg, mods/00_init.cfg. is ~charge :
#define AWW_WEAPON_SPECIAL_FURY_DAMAGE RATIO
    [damage]
        id=aww_special_fury
        name= _"fury"+" x{RATIO}"
        female_name= _"female^fury"+" x{RATIO}"
        description= _ "When used offensively :
- This attack deals more damage to the target.
- It also causes this unit to take more damage from the target’s counterattack.
- The damage ratio starts at 1.5, increases of 0.5 after each attack, until 3, then drop to 1, and the loop restart.
- Rampage : when the attack kills, the unit can attack an adjacent enemy.
- After 5 kills with that attack, it gains Bloodthirsty, an offensive drain, until end of the scenario.
- A warcry related to the fury level with also be displayed when the unit attack."
        multiply={RATIO}
        apply_to=both
        active_on=offense
        cumulative=yes
    [/damage]
#enddef


### FURY EFFECTS :


# used in macros/setters.ma.cfg:AWW_REPLACE_BERSERK_BY_FURY_AND_BLOODTHIRSTY
#define AWW_ATTACK_EFFECT_REPLACE_BERSERK_BY_FURY RATIO
    # TODO this effect in a object id. (removed before)
    [effect]
        apply_to=attack
        special=berserk
        remove_specials=berserk,aww_special_fury
        [set_specials]
            mode=append
            {AWW_WEAPON_SPECIAL_FURY_DAMAGE {RATIO}}
        [/set_specials]
    [/effect]
    [variables]
        aww_fury_ratio={RATIO}

    [/variables]
#enddef

# used in macros/setters.ma.cfg:AWW_UPDATE_FURY_RATIO
#define AWW_ATTACK_EFFECT_REPLACE_FURY_RATIO RATIO
    [effect]
        apply_to=attack
        special=aww_special_fury
        remove_specials=berserk,aww_special_fury
        [set_specials]
            mode=append
            {AWW_WEAPON_SPECIAL_FURY_DAMAGE {RATIO}}
        [/set_specials]
    [/effect]
    [variables]
        aww_fury_ratio={RATIO}
    [/variables]
#enddef

# used scenarios/4_Ruvaak_Mirage_Atoll.cfg
# will add the specials on ALL unit weapons !
#define AWW_ATTACK_EFFECT_FURY RATIO
    [effect]
        apply_to=attack
        remove_specials=berserk,aww_special_fury,aww_special_bloodthirsty
        [set_specials]
            mode=append
            {AWW_WEAPON_SPECIAL_FURY_DAMAGE {RATIO}}
        [/set_specials]
    [/effect]
    [variables]
        aww_fury_ratio={RATIO}
    [/variables]
#enddef
