#textdomain aww
### GETTERS / TESTS / FILTERS
# Author Corvo
# Original Creation

#############  FILTERS UNIT VARIABLES  #############

# to be used in various tag, like a unit [filter], or [set_extra_recruit] for example
# macro used in macros/filter.cfg:AWW_EMBEDDED_FILTER_EVENT_UNIT
## tested, very reliable :
#id=$unit.id
#x,y=$unit.x,$unit.y
## faster access :
#define AWW_EVENT_UNIT
    x=$x1
    y=$y1
#enddef

## tested, very reliable :
#id=$second_unit.id
#x,y=$second_unit.x,$second_unit.y
## faster access :
#define AWW_EVENT_SECOND_UNIT
    x=$x2
    y=$y2
#enddef

#define AWW_EMBEDDED_FILTER_EVENT_UNIT
    [filter]
        {AWW_EVENT_UNIT}
    [/filter]
#enddef


# to be used in a unit [filter]
# macro used in mods/leader_gifted.cfg, mods/03_promoted_leader.cfg
#define AWW_FILTER_PROMOTED_LEADER_ISSET
    [filter_wml]
        [variables]
            aww_promoted_leader=1
        [/variables]
    [/filter_wml]
#enddef


# to be used in a unit [filter]
# macro used in mods/leader_gifted.cfg, mods/03_promoted_leader.cfg
#define AWW_FILTER_GIFTED_ISSET
    [filter_wml]
        [variables]
            aww_gifted=1
        [/variables]
    [/filter_wml]
#enddef

# to be used in a unit [filter]
#define AWW_FILTER_BERSERK_LIMIT_ISSET
    [filter_wml]
        [variables]
            aww_fury_ratio=1
        [/variables]
    [/filter_wml]
#enddef

#define AWW_TEST_WAS_AMLA
    {VARIABLE_CONDITIONAL aww_was_amla equals yes}
#enddef

# to be used in a unit [filter]
# macro used in mods/stealthy_units.cfg
#define AWW_FILTER_NINJA_ISSET
    [filter_wml]
        [variables]
            aww_ninja=1
        [/variables]
    [/filter_wml]
#enddef


# to be used in a unit [filter]
# macro used in mods/02_combats_swarm.ma.cfg
#define AWW_FILTER_SQUAD_SWARM_ISSET
    [filter_wml]
        [variables]
            aww_squad_swarm=1
        [/variables]
    [/filter_wml]
#enddef

# to be used in a unit [filter]
# macro used in mods/13_fix_ambushed.cfg
#define AWW_FILTER_HAS_AMBUSHED_ISSET
    [filter_wml]
        [variables]
            aww_has_ambushed=1
        [/variables]
    [/filter_wml]
#enddef

# to be used in a unit [filter]
# macro used in mods/13_fix_ambushed.cfg
#define AWW_FILTER_AMBUSHED_ISSET
    [filter_wml]
        [variables]
            aww_has_ambushed=1
        [/variables]
    [/filter_wml]
#enddef



# macro used in 03_promoted_leader.cfg
#define AWW_FILTER_CAN_BE_PROMOTED
    canrecruit=no
    [not]
        {AWW_FILTER_PROMOTED_LEADER_ISSET}
    [/not]
    [not]
        {AWW_FILTER_GIFTED_ISSET}
    [/not]
    [not]
        {AWW_FILTER_HERO}
    [/not]
    [not]
        {AWW_FILTER_SPECIAL_UNIT_LISTED}
    [/not]
#enddef

#############  FILTERS UNIT TRAITS  #############


# to be used in a unit [filter]
# macro used in mods/leader_gifted.cfg, mods/03_promoted_leader.cfg
#define AWW_FILTER_TRAIT_GIFTED
    [filter_wml]
        [modifications]
            [trait]
                id=aww_trait_gifted
            [/trait]
        [/modifications]
    [/filter_wml]
#enddef


# to be used in a unit [filter]
# macro used in mods/11_ninja.cfg
#define AWW_FILTER_TRAIT_STEALTHY
    [filter_wml]
        [modifications]
            [trait]
                id=aww_trait_stealthy
            [/trait]
        [/modifications]
    [/filter_wml]
#enddef


#############  FILTERS UNIT ATTACKS  #############


# related filter : {AWW_FILTER_NINJA_ISSET}
# macro used in mods/02_combats_swarm.ma.cfg
#define AWW_FILTER_MISSING_SWARM_ATTACK
    [has_attack]
        [not]
            special=swarm
        [/not]
    [/has_attack]
#enddef

# macro used in mods/12_berserk_fix.cfg
#define AWW_FILTER_HAS_BERSERK_ATTACK
    [has_attack]
        special=berserk
    [/has_attack]
#enddef

#############  FILTERS HEROES/LOYALS  #############


# works in a [filter] for unit, to put in [and]/[or]
# macro used in 03_promoted_leader.cfg
#define AWW_FILTER_LOYAL_MARKED_UNIT
    [filter_wml]
        overlays="misc/loyal-icon.png"
    [/filter_wml]
    ## compat Unitmarker mod :
    [or]
        [filter_wml]
            overlays="misc/golden-belt.png"
        [/filter_wml]
    [/or]
    [or]
        [filter_wml]
            overlays="misc/silver-belt.png"
        [/filter_wml]
    [/or]
#enddef


# works in a [filter] for unit, to put in [and]/[or]
# macro used in leader_hero_gifted.cfg
#define AWW_FILTER_HERO
    [filter_wml]
        ellipse="misc/ellipse-hero"
    [/filter_wml]
    [or]
        [filter_wml]
            ellipse="misc/ellipse-hero-nozoc"
        [/filter_wml]
        [or]
            [filter_wml]
                overlays="misc/hero-icon.png",
            [/filter_wml]
        [/or]
    [/or]
#enddef


## used in mods/10_gifted_leader_hero.cfg
#define AWW_FILTER_CAN_BE_EPIC
    [not]
        {AWW_FILTER_PROMOTED_LEADER_ISSET}
    [/not]
    [not]
        {AWW_FILTER_GIFTED_ISSET}
    [/not]
    [and]
        canrecruit=yes
        [or]
            {AWW_FILTER_HERO}
            [or]
                {AWW_FILTER_SPECIAL_UNIT_LISTED}
            [/or]
        [/or]
    [/and]
#enddef

# works in a unit [filter], in a and/or/not. Should contains heroes / special unit who can't recruit. Can contain leader, combine with canrecruit=no to exclude them
# macro used in abilities.ma.cfg:AWW_FILTER_CAN_BE_PROMOTED 10_gifted_leader_hero.cfg
# TODO find a way to filter units of campaign_drop_mod/utils/heroes.cfg
#define AWW_FILTER_SPECIAL_UNIT_LISTED

    {AWW_MAINLINE_HEROES_IDS}
    [or]
        {AWW_MAINLINE_LEADERS_IDS}
    [/or]
    [or]
        {AWW_UMC_MISC_IDS}
    [/or]
    #  too much processing for an optional content, disabled :
    #  [or]
    #    {AWW_UMC_HEROES_IDS}
    #  [/or]
#enddef

# heroes never defined as leader :
#define AWW_MAINLINE_HEROES_IDS
    id=Sir Gerrick,"Li'sar",Minister Hylas,Ethiliel,Urza Afalas,Dacyn,Garak,Zhul,Lionel,Relgorn,Darken Volk,Owaec,Harper,Hamel,"Ro'Arthian",Baglur,Krawg,Thursagan,Durstorn,Grüü,Angarthing,Ratheln,Dulcatulos,Cylanna,Caladon,Garnad,Marshal,Great Chief Brurbar,Sisal,Krash,Lady Jessene,Burin the Lost,Sir Ruddry,Sir Ladoc,Minister Edren,Lord Typhon,Nym,Grog
#enddef

# in case that recruiter is set to canrecruit=no on a scenario and is properly defined as hero :
#define AWW_MAINLINE_LEADERS_IDS
    id=Konrad,Delfador,Kalenz,Prince Haldric,Haldric II,Deoran,Erlornas,Linaera,Baldras,Tallin,Baran,Rugnur,Gweddry,Kai Krellis,Malin Keshar,Aiglondur,Ardonna,Kaleh,"Kapou'e"
#enddef

# Mods : Voyage of a Drake, To_Lands_Unknown, A Fiery Birth, Legend_of_the_Invincibles, The_Beautiful_Child, Swamplings, Invasion_from_the_Unknown etc
#define AWW_UMC_MISC_IDS
    id=Voadar,Jaffar,Rashti,Mehir,Menir,Szel,Arvith,Efraim_de_Ceise,Delenia,Krux,Krux_father,Clammie,Galas
#enddef

# mod "Heroes". TODO find a way to see if the campaign use it
#define AWW_UMC_HEROES_IDS
    id=Ailiandil,,Aisalting,Aisalting,Azyan,Brom,Coral,Durmenthrain,Echelana,Echlebert,Grim,Guldarmaadh,Ibn Ghani,Ibn Khazul,Ilaroth,Ilrandh,Ilriel,Iskandar,Khazran,Moraen,Norn,Nuvdael,Onarr,Rhamuniel,Ridwan,Schabral,Skjol_Forefather,Skjol,Uthain,Wahdet,Yrialdhe
#enddef

