#textdomain aww
### MODS OPTIONS MACROS
# Author Corvo
# Original Creation

############ TEST OPTIONS #############

#define AWW_ENABLED_FEATURE ID
   {AWW_ENABLED_FEATURE_{ID}}
#enddef

#define AWW_ENABLED_FEATURE_01
    {VARIABLE_CONDITIONAL aww_01_enable_randomless_combats equals yes}
#enddef

#define AWW_ENABLED_FEATURE_02
    {VARIABLE_CONDITIONAL aww_02_squad_mode greater_than 0}
#enddef

#define AWW_ENABLED_FEATURE_02_MODE_CUSTOM
    {VARIABLE_CONDITIONAL aww_02_squad_mode equals 1}
#enddef

#define AWW_ENABLED_FEATURE_02_MODE_SWARM
    {VARIABLE_CONDITIONAL aww_02_squad_mode equals 2}
#enddef

#define AWW_ENABLED_FEATURE_03
    {VARIABLE_CONDITIONAL aww_03_enable_promoted_leader equals yes}
#enddef

#define AWW_ENABLED_FEATURE_04
    {VARIABLE_CONDITIONAL aww_04_passive_xp greater_than 0}
#enddef

#define AWW_ENABLED_FEATURE_05
    {VARIABLE_CONDITIONAL aww_05_healing_xp greater_than 0}
#enddef

#define AWW_ENABLED_FEATURE_06
    {VARIABLE_CONDITIONAL aww_06_enable_levelup_relative_healing equals yes}
#enddef

#define AWW_ENABLED_FEATURE_07
    {VARIABLE_CONDITIONAL aww_07_enable_verbose equals yes}
#enddef

#define AWW_ENABLED_FEATURE_08
    {VARIABLE_CONDITIONAL aww_08_randomless_damage_adjustment not_equals 0}
#enddef

#define AWW_ENABLED_FEATURE_09
    {VARIABLE_CONDITIONAL aww_09_enable_amla_bonus equals yes}
#enddef

#define AWW_ENABLED_FEATURE_10
    {VARIABLE_CONDITIONAL aww_10_enable_gifted_leaders equals yes}
#enddef

#define AWW_ENABLED_FEATURE_11
    {VARIABLE_CONDITIONAL aww_11_enable_ninja equals yes}
#enddef

#define AWW_ENABLED_FEATURE_12
    {VARIABLE_CONDITIONAL aww_12_enable_berserk_fix equals yes}
#enddef

#define AWW_ENABLED_FEATURE_13
    {VARIABLE_CONDITIONAL aww_13_enable_ambushed_fix equals yes}
#enddef

#define AWW_ENABLED_FEATURE_14
    {VARIABLE_CONDITIONAL aww_14_enable_levelup_notif equals yes}
#enddef

#define AWW_ENABLED_FEATURE_15
    {VARIABLE_CONDITIONAL aww_15_enable_levelup_amla_inc equals yes}
#enddef

