### EXTRA UNIT TRAITS MACROS
# Author Corvo
# Original Creation
# traits effect(s) seems re-applied post-advance pre-AMLA, except attributes raise not per-level
# traits can be duplicate on an unit, we need to test if exists before adding it.

#textdomain wesnoth-aww

#define AWW_TRAIT_GIFTED
    [trait]
        ## Used in: 10_gifted_leader_hero.cfg
        id=aww_trait_gifted
        #name ideas = "escorted", "survivor", gifted
        male_name= _"gifted"
        female_name= _"female^gifted"
        help_text= _ "<italic>text='Gifted'</italic> with great potential or trained by the bests, this person is unrivaled on a battlefield."
        # 15% will give +1 increased value if base 4+ ; +2 if base 10+
        # 20% will give +1 increased value if base 3+ : +2 if base 8+

        ## Displayed effects in trait :

        [effect]
            apply_to=hitpoints
            increase_total=20%
        [/effect]
        [effect]
            apply_to=movement
            increase=20%
        [/effect]
        [effect]
            apply_to=attack
            increase_attacks=20%
            increase_damage=20%
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=2
        [/effect]
        [effect]
            apply_to=attack
            times=per level
            increase_damage=1
        [/effect]

        [effect]
            apply_to=new_ability
            [abilities]
                {AWW_ABILITY_CUSTOM_REGEN 4 slowed}
                {ABILITY_LEADERSHIP}
                {AWW_ABILITY_DISTRACT}
            [/abilities]
        [/effect]

    [/trait]
#enddef


#define AWW_TRAIT_STEALTHY
    ## Used in: 11_ninja.cfg
    [trait]
        id=aww_trait_stealthy
        #name ideas :  _"ninja"
        male_name= _"stealthy"
        female_name= _"female^stealthy"
        help_text= _ "<italic>text='Stealthy'</italic> like a ninja. Can move very fast, hide almost everywhere, attack by surprise, pass discretely behind enemies lines."

        [effect]
            apply_to=movement
            #per-level only apply when advancement:
            times=per level
            increase=1
        [/effect]

        {AWW_ABILITY_EFFECT_CAMOUFLAGE}

        [effect]
            apply_to=new_ability
            [abilities]
                {AWW_ABILITY_DISTRACT}
            [/abilities]
        [/effect]

        ### remove+add weapon specials :
        [effect]
            apply_to=attack
            range=melee
            type=blade,pierce
            remove_specials=backstab
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_BACKSTAB}
                # important to append to cumulate with charge and others specials
            [/set_specials]
        [/effect]
        [effect]
            apply_to=attack
            range=ranged
            type=pierce
            remove_specials=poison
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_POISON}
            [/set_specials]
        [/effect]

        ### Remove backstab and poison for charge or berserk attacks (balancing/coherency):
        # special= accept only one parameter apparently:
        [effect]
            apply_to=attack
            special=aww_special_fury
            remove_specials=backstab,poison
        [/effect]
        [effect]
            apply_to=attack
            special=berserk
            remove_specials=backstab,poison
        [/effect]
        [effect]
            apply_to=attack
            special=charge
            remove_specials=backstab,poison
        [/effect]

    [/trait]
#enddef


#define AWW_TRAIT_BORNLEADER
    ## Used in: nowhere
    [trait]
        id=aww_trait_bornleader
        male_name= _"born-leader"
        female_name= _"female^born-leader"
        help_text= _ "<italic>text='Born leader'</italic>, a natural one."
		[effect]
			apply_to=max_experience
			increase=-20%
		[/effect]
        ## Not displayed effects in trait, but somewhere else :
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_LEADERSHIP}
			[/abilities]
		[/effect]
    [/trait]
#enddef
